body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: darkcyan;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

img {
  display: block;
  transform: scale(1.5);
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}

.GameContainer {
  background: #deecf2;
  height: 500px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FloydStats{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  align-items: center;
}

#kill{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#reset{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.DevTools{
  align-items: center;
}


.wallet-container{
  background: #deecf2;
  height: 50px;
  width: 200px;
  position: absolute;
  right: 0; /* move the container to the right side of the screen */
  align-items: right;
}

#wallet-buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  align-items: center;
}

.earn{
  background: #13c71c;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.spend{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}