body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: darkcyan;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}

.FloydStats{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  align-items: center;
}

.ButtonContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; 
  background: #20d4c5;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


#kill{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#reset{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.DevTools{
  display: flex;
}

.earn{
  background: #13c71c;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.spend{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


.GameContainer {
  background: #deecf2;
  height: 500px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wallet-container{
  background: #deecf2;
  height: 50px;
  width: 80px;
  display: flex;
  position: relative;
  margin-left: -100px; /* move the container 100px to the left of its parent container */
  top: 50%;
  transform: translate(-50%, -50%);
}
