body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkcyan;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.feed-burger, 
.wake-up, 
.sleep, 
.stop-playing, 
.play, 
.clear-poop {
  background: #f9d71c;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.kill-floyd{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.restart{
  background: #9b0909;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
